---
import Splash from '@levino/shipyard-base/layouts/Splash.astro'
---

<Splash frontmatter={{ title: 'CDU Musterstadt Dokumentation' }}>
  <div class="hero min-h-[60vh]">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Dokumentation</h1>
        <p class="py-6">
          Internes Handbuch für den CDU Gemeindeverband Musterstadt.
        </p>
        <a href="/docs/index" class="btn btn-primary">Zur Dokumentation</a>
      </div>
    </div>
  </div>
</Splash>
